h1 {
	color:black;
}
body {
	background-color:white;
}

#record{
	/*border-radius:50px;*/
	position: absolute;
	left: 15%;
	top:220px;
}

table:hover {
	cursor:pointer;
}

.fix {

}

.albumI {
/*	border-radius: 50%;*/
/*	border: 1px solid;*/
	/*margin: 0 auto;*/
}

#buttons {
	text-align: center;
	margin: 20px;
}
.btn .btn-primary {
	width: 30px;
	height: 20px;

}
.album-cover {
	border: 1px solid;
	width:300px;
	height:300px;
	position:relative;
	left:100px;

}
/*img{
	text-align: center;
}*/
.colorC:hover{

}

.playlist-content {
/*	border: 1px solid;*/
	text-align:justify;

}

.container-fluid {
	width:500px;
	position:relative;
	top:100px;
	/*border:3px;*/

}

table{
    width: 100%;
    border-collapse: collapse;
	margin-bottom: 40px;
    /* border:  1px solid black; */
/*    border-left: 1px solid black;*/
}

th{
    font-family: 'Lato', sans-serif;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 3px;
    background-color: white;
    /*#2d2d2d;*/
    color: black;
}

td{
    font-family: sans-serif;
    font-size: 14px;
    padding:   5px 10px 5px 10px;
    background-color: white;
    /*font-weight: bold;*/
    /*color: black;*/
    /*#cccccc;*/
}
tr:hover{
    color: blue;
}

 #time{
     text-align: right;
 }
